// Définitions des couleurs 

$grey: rgb(126, 126, 126);
$grey-nav: rgb(101, 101, 101);
$white: rgb(220, 220, 220);
$blue: rgb(44, 117, 212);
$black: rgb(0, 1, 0);
$limegreen: #32cd32;
$color-fb: rgb(60, 90, 153);
$color-linkedin: rgb(1, 114, 177);

