.bloc_parcours {
  text-align: center;

  &__title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    margin: 30px auto 100px;
    @media screen and (max-width: 576px) {
      font-size: 2rem;
    }
  }

  &__arrow {
    margin-top: 250px;

    & img {
      @media screen and (max-width: 576px) {
        height: 0;
        width: 0;
      }
    }

    &:hover {
      transform: scale(1.2);
      transition: 500ms;
    }
  }
}

.chrono {
  margin: auto;
  width: 88%;

  &__name_up {
    display: flex;
    font-family: Candara, sans-serif;
    justify-content: space-between;
    text-transform: uppercase;
  }

  &__line_up {
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 0 20px;
    @media screen and (max-width: 576px) {
      height: 50px;
    }

    & div {
      border-left: $black 1px solid;
      width: 1px;
    }
  }

  &__frise {
    background-color: $color-marron;
    border-radius: 10px;
    display: flex;
    height: 30px;
    width: 100%;

    &__date {
      align-items: center;
      background-color: rgba($color: $color-marron, $alpha: .3);
      // border: rgba($color: $black, $alpha: .3) .5px solid;
      cursor: pointer;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 20%;
      // border-radius: 10px;

      &:hover {
        background-color: lighten($color: $color-marron, $amount: 10%);
        box-shadow: .3em .3em rgba($color: $black, $alpha: .3);
        color: $white;
        transition: 300ms;
        // transform: scale(1.2);
      }
    }
  }
}
