.button {
  align-items: center;
  border: $black .3px solid;
  border-radius: 2px;
  box-shadow: 3px 3px 6px $black;
  color: $black;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 45px;
  justify-content: space-around;
  margin: auto auto 10px;
  text-decoration: none;
  width: 80%;
  // display: block;

  // text-align: right;

  &--git {
    margin: 60px auto 30px;

    &:hover {
      background-color: $black;
      color: $white;
      transition: 500ms;
    }
  }

  &--facebook {
    margin-bottom: 30px;


    &:hover {
      background-color: $color-fb;
      color: $white;
      transition: 500ms;
    }
  }

  &--linkedin {

    &:hover {
      background-color: $color-linkedin;
      color: $white;
      transition: 500ms;
    }
  }

  & img {
    height: 90%;
  }
}
