$color-background: rgba(253, 253, 253, 80%);
$color-background-mobile: rgba(51, 47, 46, 20%);
$color-marron: rgb(169, 85, 0);
$black: #000;
$white: #fff;
$color-fb: rgb(21, 162, 250);
$color-linkedin: rgb(0, 120, 182);